
<ul class="list-inline">
  <li class="col-sm-2"><%= link_to("互联网/电子商务", internet_electronic_commerce_jobs_path) %></li>
  <li class="col-sm-2"><%= link_to("金融／投资／证券", finace_investment_security_jobs_path)%></li>
  <li class="col-sm-2"><%= link_to("汽车及零配件", cars_auto_parts_jobs_path)%></li>
  <li class="col-sm-2"><%= link_to("房地产", estate_jobs_path)%></li>
</ul>


<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle=
  "dropdown" aria-haspopup="true" aria-expanded="true">
   排序
   <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider" >
    <li>
      <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>
    </li>
    <li>
      <%= link_to("按照发表时间排序", jobs_path) %>
    </li>
  </ul>

</div>

<table class="table table-boldered">
  <div class="pull-right">
    <%= link_to("Add a job", new_job_path, :class => "btn btn-default")%>
  </div>
   <thead>
    <tr>
      <td>职缺</td>
      <td>行业</td>
      <td>薪资下限</td>
      <td>薪资上限</td>
      <td>刊登时间</td>
    </tr>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
  <tr>
     <td>
       <%= link_to(job.title, job_path(job)) %>
     </td>
     <td>
       <% if job.category == "internet_electronic_commerce" %>
        <%= "互联网/电子商务" %>
        <% end %>
        <% if job.category == "finace_investment_security" %>
         <%= "金融／投资／证券" %>
         <% end %>
         <% if job.category == "cars_auto_parts" %>
          <%= "汽车及零配件" %>
          <% end %>
          <% if job.category == "estate" %>
           <%= "房地产" %>
           <% end %>
           <!-- 用case语句可能比较简单 -->
     </td>
     <td>
       <%= job.wage_lower_bound %>
     </td>
     <td>
       <%= job.wage_upper_bound %>
     </td>
     <td>
       <%= job.created_at %>
     </td>
  </tr>
  <% end %>
  </tbody>
</table>
