<h1> Edit a job </h1>

<%= simple_form_for [:admin, @job] do |f|%>

<%= f.input :title%>
<%= f.input :description%>
<%= f.input :category, :collection => ["internet_electronic_commerce","finace_investment_security", "cars_auto_parts", "estate"], :selected => "internet_electronic_commerce" %>
<%= f.input :wage_lower_bound, :label => "薪资下限"%>
<%= f.input :wage_upper_bound, :label => "薪资上限"%>
<%= f.input :contact_email%>
<%= f.input :is_hidden%>
<%= f.submit "submit"%>

<%end%>
